
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=devanagari,latin-ext');

body {
  font-size: 150%;
  margin: 1em;
  font-family:'Poppins', sans-serif;
}
h1 {
	color:blue;
  font-size: 150%;
  margin: 1em;
  font-family:'Poppins', sans-serif;
}

.emoji {
    width: 2em;
    height: 2em;
    display: inline-block;
    margin-bottom: 0.5em;
    vertical-align: top;
}